// Color Variables
$color-primary: #000000;
$color-white: #ffffff;
$color-secondary: #d5e3e8;
$color-secondary-dark: #F4F7FC;
$color-muted: #6b7280;
$color-border: #6b72804a;
$color-accent: #6366f1;
$color-success: #16a34a;
$color-bg-light: #f9fafb;
$color-bg-chart: #f3f4f6;
$color-purple: #a78bfa;
$color-purple-dark: #7c3aed;
$color-blue: rgb(37 99 235);
$color-background-primary: #fafafa;
$color-text-secondary: #666666;
$color-medium-gray: #eeeeee;
$background-color-primary: #F9FAFC;
$color-primary-blue: #edf3ff;
$color-background-light-blue: #EBF0FA;
$color-purple-light: #f3e8ff;
$color-purple-dark: #6b21a8;
// Font Variables
$font-primary: 'Inter', sans-serif; 

// Other Variables
$box-shadow: 0 0 10px #f1f1f1;
$radius: 12px; 